/* ===================================
   GOOGLE FONTS
=================================== */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');

/* ===================================
   VARIÁVEIS
=================================== */

:root{

    --primary:#B79CED;
    --primary-dark:#9A7AD9;
    --primary-light:#EEE7FA;

    --gold:#D8B46A;

    --white:#ffffff;
    --background:#FAFAFC;

    --title:#2D2538;
    --text:#6A6275;

    --border:#ECE7F4;

    --shadow:
    0 15px 40px rgba(0,0,0,.08);

}

/* ===================================
RESET
=================================== */

*{

margin:0;
padding:0;
box-sizing:border-box;

}

html{

scroll-behavior:smooth;

}

body{

font-family:'Poppins',sans-serif;

background:var(--background);

color:var(--text);

overflow-x:hidden;

}

a{

text-decoration:none;

}

ul{

list-style:none;

}

img{

max-width:100%;

display:block;

}

/* ===================================
NAVBAR
=================================== */

header{

position:fixed;

width:100%;

top:0;

left:0;

z-index:999;

transition:.4s;

}

.navbar{

max-width:1200px;

height:90px;

margin:auto;

display:flex;

align-items:center;

justify-content:space-between;

padding:0 30px;

}

.logo{

height:70px;

}

.navbar ul{

display:flex;

gap:40px;

}

.navbar ul li a{

color:white;

font-weight:500;

transition:.3s;

}

.navbar ul li a:hover{

color:var(--gold);

}

.btn-nav{

padding:12px 30px;

border-radius:40px;

background:var(--primary);

color:white;

font-weight:600;

transition:.3s;

}

.btn-nav:hover{

background:var(--primary-dark);

transform:translateY(-3px);

}

/* ===================================
HERO
=================================== */

.hero{

height:100vh;

background:

linear-gradient(

rgba(42,27,61,.65),

rgba(109,74,161,.35)

),

url("imagens/banner.jpg");

background-size:cover;

background-position:center;

display:flex;

align-items:center;

justify-content:center;

text-align:center;

position:relative;

}

.hero-content{

max-width:800px;

padding:20px;

color:white;

}

.hero h1{

font-family:"Playfair Display",serif;

font-size:70px;

line-height:1.1;

margin-bottom:25px;

}

.hero p{

font-size:20px;

line-height:35px;

margin-bottom:40px;

}

.botoes{

display:flex;

justify-content:center;

gap:20px;

flex-wrap:wrap;

}

/* ===================================
BOTÕES
=================================== */

.btn-principal{

background:var(--primary);

padding:16px 40px;

border-radius:50px;

color:white;

font-weight:600;

transition:.4s;

box-shadow:var(--shadow);

}

.btn-principal:hover{

background:var(--primary-dark);

transform:translateY(-5px);

}

.btn-secundario{

padding:16px 40px;

border:2px solid white;

border-radius:50px;

color:white;

transition:.4s;

}

.btn-secundario:hover{

background:white;

color:var(--title);

}