/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
}


body {

    font-family: Arial, Helvetica, sans-serif;

    background: #061426;

    color: #eaf4ff;

    line-height: 1.6;

}



/* CORES */

:root {

    --azul-escuro: #061426;

    --azul-card: #0b2447;

    --azul-medio: #145da0;

    --azul-claro: #3fa9f5;

    --texto: #eaf4ff;

    --cinza: #b7c9dc;

}







/* HEADER */


header {

    position: fixed;

    top: 0;

    width: 100%;

    z-index: 999;

    background: rgba(6,20,38,0.95);

    border-bottom: 1px solid rgba(63,169,245,0.2);

}



nav {

    max-width: 1200px;

    margin: auto;

    padding: 20px 40px;

    display:flex;

    justify-content:space-between;

    align-items:center;

}



.logo {

    font-size:24px;

    font-weight:bold;

    color:var(--azul-claro);

}



nav ul {

    display:flex;

    list-style:none;

    gap:25px;

}



nav a {

    color:white;

    text-decoration:none;

    font-size:15px;

}



nav a:hover {

    color:var(--azul-claro);

}








/* SEÇÕES */


section {

    max-width:1200px;

    margin:auto;

    padding:100px 40px;

}



section h2 {

    font-size:38px;

    margin-bottom:35px;

    color:white;

    border-left:5px solid var(--azul-claro);

    padding-left:15px;

}



section p {

    max-width:900px;

    color:var(--cinza);

    font-size:18px;

}








/* INÍCIO */


.inicio {

    min-height:100vh;

    display:flex;

    align-items:center;

}



.conteudo {

    max-width:850px;

}



.conteudo h1 {

    font-size:65px;

    line-height:1.1;

}



.conteudo h1 span {

    color:var(--azul-claro);

}



.conteudo h2 {

    margin-top:25px;

    font-size:28px;

    color:#9ddcff;

}



.conteudo p {

    margin-top:25px;

    font-size:20px;

    color:var(--cinza);

}



.botoes {

    display:flex;

    gap:20px;

    margin-top:35px;

}



.btn {

    padding:14px 30px;

    border-radius:8px;

    background:var(--azul-claro);

    color:#061426;

    text-decoration:none;

    font-weight:bold;

    transition:.3s;

}



.btn:hover {

    background:white;

    transform:translateY(-3px);

}



.secundario {

    background:transparent;

    color:white;

    border:1px solid var(--azul-claro);

}








/* CARDS */


.cards {

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(260px,1fr));

    gap:25px;

}



.card {

    background:

    linear-gradient(
    145deg,
    #0b2447,
    #081a33
    );


    padding:30px;


    border-radius:15px;


    border:1px solid rgba(63,169,245,.2);


    transition:.3s;


}



.card:hover {

    transform:translateY(-8px);

    border-color:var(--azul-claro);

}



.card h3 {

    color:var(--azul-claro);

    margin-bottom:15px;

    font-size:22px;

}



.card p {

    font-size:16px;

}



.card span {

    display:block;

    margin-top:15px;

    color:#75c8ff;

}








/* CERTIFICADO */


.certificado {

    background:#0b2447;

    padding:35px;

    border-radius:15px;

    border-left:5px solid var(--azul-claro);

}



.certificado h3 {

    color:var(--azul-claro);

    margin-bottom:15px;

}








/* OBJETIVO E CONTATO */


#objetivo,
#contato {

    background:#081a33;

    border-radius:20px;

}



#contato {

    margin-bottom:50px;

}








/* FOOTER */


footer {

    padding:30px;

    background:#020b18;

    text-align:center;

    color:#789;

}








/* ANIMAÇÃO */


section,
.card,
.certificado {


    opacity:0;

    transform:translateY(30px);

    transition:.8s;


}



.mostrar {

    opacity:1;

    transform:translateY(0);

}








/* RESPONSIVO */


@media(max-width:800px){


nav {

    flex-direction:column;

    gap:20px;

}



nav ul {

    flex-wrap:wrap;

}



.conteudo h1 {

    font-size:42px;

}



section {

    padding:80px 25px;

}


}